body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.tp-bg {
	background-image: url(images/tp-bg1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.table-bg {
	background-color: #F0F0F0;
}
.btxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	font-weight: normal;
	color: #E0E0E0;
	text-decoration: none;
}
.btxt1 a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #E0E0E0;
	text-decoration: underline;
}
.btxt1 a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.link1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	padding-left: 30px;
}
.link1 a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.link1 a:hover{
	color: #5c5c5c;
}
.txt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.hm-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #505050;
	text-decoration: none;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 10px 20px 10px 15px;
	text-align: justify;
}
.hm-box a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
	text-decoration: underline;
}
.hm-box a:hover{
	color: #DD0000;
	text-decoration: none;
}
.savit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #202020;
	text-decoration: none;
}
.savit a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #202020;
	text-decoration: none;
}
.savit a:hover{
	color: #000000;
	text-decoration: underline;
}
.in-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #6666cc;
	text-decoration: none;
	text-align: center;
}
.in-link a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #6666cc;
	text-decoration: none;
	text-align: center;
}
.in-link a:hover{
	color: #6666cc;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ff5000;
}
.re-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #ff5000;
	text-decoration: none;
	text-align: center;
}
.re-link a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #ff5000;
	text-decoration: none;
	text-align: center;
}
.re-link a:hover{
	color: #ff5000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #6666cc;
}
.pa-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.pa-link a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.pa-link a:hover{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #5d5d5d;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	color: #ff5000;
	text-decoration: none;
}
.title2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	color: #6666cc;
	text-decoration: none;
}
.title3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.box {
	border: 1px solid #CCCCCC;
}
.frbox {
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #F0F0F0;
	padding: 1px;
}
.frbox4 {
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #F0F0F0;
	padding: 1px;
	width: 95%;
}
.submit {
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #F0F0F0;
	padding: 1px;
}
.red1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #dadada;
	border: 1px solid #b6b6b6;
	padding: 1px;
}
.sm-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sm-link a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sm-link a:hover{
	color: #DD0000;
}
li {
	list-style-image: url(images/arrow1.gif);
	padding: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.img {
	border: 1px solid #000000;
}
.ul {
	margin: 0px;
	padding: 10px 0px 10px 20px;
	border: 0px;
}
